<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" th:href="@{/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" th:href="@{/webjars/bootstrap/5.2.3/dist/js/bootstrap.min.js}"></script>


</head>
<body>
    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="margin:0 auto">
                <form id="recipeForm"  th:object="${recipe}" th:action="@{/recipe/}"  method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card-group">
                        <div class="card border-primary" >
                            <div class="card-header">
                                <h1 class="card-title" th:text="${mode == 'create' ? 'Create' : 'Update'} + ' Recipe Information'"></h1>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12 form-group" th:class="${#fields.hasErrors('description')} ? 'col-md-12 form-group text-danger' : 'col-md-12 form-group'">
                                        <label>Recipe Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}" th:errorclass="is-invalid" />
                                        <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('description')}" th:text="${#strings.capitalize(err)}" style="color: blue;"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="card-body" style="margin-right:15px">
                                        <input id="imageInput" name="imageFile" type="file"  accept="image/*" class="form-control-file"  onchange="previewImage()">
                                        <img id="imagePreview" th:src="@{'/recipe/recipeimage/'+${recipe.id}}" width="200" height="200" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')} ? 'col-md-12 form-group text-danger' : 'col-md-12 form-group'">
                                        <label>Prep Time:</label>
                                        <input type="text" class="form-control" th:field="*{prepTime}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('prepTime')}" th:text="${#strings.capitalize(err)}" style="color: blue;"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')} ? 'col-md-12 form-group text-danger' : 'col-md-12 form-group'">
                                        <label>Cooktime:</label>
                                        <input type="text" class="form-control" th:field="*{cookTime}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('cookTime')}" th:text="${#strings.capitalize(err)}" style="color: blue;"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Difficulty:</label>
                                        <select class="form-control">
                                            <option>Easy</option>
                                            <option>Medium</option>
                                            <option>Hard</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')} ? 'col-md-12 form-group text-danger' : 'col-md-12 form-group'">
                                        <label>Servings:</label>
                                        <input type="text" class="form-control" th:field="*{servings}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('servings')}" th:text="${#strings.capitalize(err)}" style="color: blue;"></li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Source:</label>
                                        <input type="text" class="form-control" th:field="*{source}"/>
                                    </div>
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')} ? 'col-md-12 form-group text-danger' : 'col-md-12 form-group'">
                                        <label>URL:</label>
                                        <input type="text" class="form-control" th:field="*{url}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('url')}" th:text="${#strings.capitalize(err)}" style="color: blue;"></li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group" style="margin-top: 10px">
                        <div class="card border-primary">
                            <div class="card-heading">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h1 class="card-title">Ingredients</h1>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-default" type="button" id="addIngredientBtn" onclick="addIngredient()">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul id="ingredientList">
                                            <li th:each="ingredient,stat: *{ingredients}">
                                                <input type="hidden" th:field="*{ingredients[__${stat.index}__].id}"/>
                                                <input type="text" placeholder="Taco Burrito" th:field="*{ingredients[__${stat.index}__].description}"/>
                                                <input type="text" placeholder="Amount" th:field="*{ingredients[__${stat.index}__].amount}"/>
                                                <select name="newIngredientUOM" class="form-control" th:field="*{ingredients[__${stat.index}__].unitOfMeasure.id}">
                                                    <option th:each="item : ${uomList}"  th:value="${item.id}" th:text="${item.description}"></option>
                                                </select>
                                                <input type="hidden" th:field="*{ingredients[__${stat.index}__].recipe.id}" th:value="${recipe.id}" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group" style="margin-top: 10px">
                        <div class="card border-primary">
                            <div class="card-heading">
                                <h1 class="card-title">Directions</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-group" style="margin-top: 10px">
                        <div class="card border-primary">
                            <div class="card-header">
                                <h1 class="card-title">Notes</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button   type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
                    <!-- It seems this form needs the id of notes when updating the Recipe, otherwise a new note gets created everytime we update. This breaks the persistance and we get "referential integrity constraint violation exception". -->
                    <!-- This exception happens when you update a recipe and try to delete any recipe after that. -->
                    <input type="hidden" th:field="*{notes.id}"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script th:inline="javascript">
/*<![CDATA[*/
  var ingredientArray = []; // Array to store added ingredients

function addIngredient() {
  // Create a new input field for the ingredient amount
  var amountInput = document.createElement("input");
  amountInput.type = "text";
  amountInput.name = "newIngredientAmount";
  amountInput.placeholder = "Enter amount";

  // Create a new input field for the ingredient description
  var descriptionInput = document.createElement("input");
  descriptionInput.type = "text";
  descriptionInput.name = "newIngredientDescription";
  descriptionInput.placeholder = "Enter description";


  var uomSelect = document.createElement("select");
  uomSelect.classList.add("form-control");
  uomSelect.name = "newIngredientUOM";

  // Get the UOMList from modal
  var uomList =  /*[[${uomList}]]*/
  //console.log(uom);

  // Loop through the uomList and add options to the unit of measure select element
  for (var i = 0; i < uomList.length; i++) {
  var option = document.createElement("option");
  option.value = uomList[i].id;
  option.text = uomList[i].description;
  uomSelect.appendChild(option);
  }

  // Create a new list item to contain the ingredient inputs
  var listItem = document.createElement("li");
  listItem.appendChild(amountInput);
  listItem.appendChild(descriptionInput);
  listItem.appendChild(uomSelect);
  // Append the new list item to the ingredient list
  var ingredientList = document.getElementById("ingredientList");
  ingredientList.appendChild(listItem);
}

// Submit form
function submitForm() {
  // Get all the ingredient rows
  var ingredientRows = document.querySelectorAll("#ingredientList li");

  // Loop through the ingredient rows and add them to the array
  for (var i = 0; i < ingredientRows.length; i++) {
    var row = ingredientRows[i];
    var amountInput = row.querySelector("input[name='newIngredientAmount']");
    var descriptionInput = row.querySelector("input[name='newIngredientDescription']");
    var uomSelect = row.querySelector("select[name='newIngredientUOM']");

    // Check if the row has the expected input fields
    if (amountInput && descriptionInput && uomSelect) {
      var ingredient = {
        amount: amountInput.value,
        description: descriptionInput.value,
        unitOfMeasure: uomSelect.value
      };

      if (descriptionInput.value.trim() !== "") {
        ingredientArray.push(ingredient);
      }
    }
  }

  // Add the ingredient array to a hidden input field in JSON format
  var ingredientArrayInput = document.createElement("input");
  ingredientArrayInput.type = "hidden";
  ingredientArrayInput.name = "ingredientArray";
  ingredientArrayInput.value = JSON.stringify(ingredientArray);

  // Append the hidden input field to the form
  var form = document.getElementById("recipeForm");
  form.appendChild(ingredientArrayInput);

  // Submit the form
  form.submit();
}

function previewImage() {
        var input = document.getElementById('imageInput');
        var preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

/*]]>*/
</script>